/* body {
  width: 100%;
  text-align: center;
} */
.protfolio {
  /* background-color: red; */
  width: 1921px;
  /* width: 100%; */
  padding: auto;
}

.summary-black {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 241px;
  width: 100%;
}

.summary-data-lable {
  /* color: white; */
  margin-top: 83px;
  width: 274px;
  height: 71px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.amount-data {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* identical to box height, or 22px */
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #0b0b0b;
}
.data-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #0b0b0b;
}

/* main {
  text-align: center;
  padding: auto;
} */
.protfolio-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 764px; */
  height: 193px;
  padding-top: 83px;
}
.protfolio-icon {
  margin-bottom: 31px;
}
.protfolio-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.78em;
  text-transform: uppercase;
}

.protfolio-explain {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 206%;
  /* or 33px */
  text-align: center;
  letter-spacing: 0.05em;

  /* Black */
  color: #0b0b0b;
}

.protfolio-explain {
  width: 763px;
  height: 66px;
  text-align: center;
}
.protfolio-nav {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  height: 63px;
  align-items: center;
  width: 1920px;
  /* width: 764px; */
  /* margin-bottom: 106px; */
  padding: 106px 0;
}

.nav-part {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: 1px solid #000000;
  border-left: none;
  border-right: none;
  padding: 15px;
  margin: 0 60px;
}
.nav-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 206%;
  /* identical to box height, or 29px */
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  /* Black */
  color: #0b0b0b;
}
.protfolio-gallery {
  display: flex;
}
.pic {
  width: 320px;
  height: 350px;
}

.protfolio-like-button {
  display: flex;
  justify-content: center;
  padding-top: 91px;
  padding-bottom: 84px;
}
.like {
  width: 270px;
  height: 45px;
  background: #fde500;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;

  /* Black */
  color: #0b0b0b;
}
